REDIS_HOST=db
REDIS_PORT=6379

TCP_PORT=8000
UDP_PORT=8000
ACCESS_LOG=yes

EVENT_SOURCE_ENABLED=yes

APNS_ENABLED=yes
APNS_CERT=/src/apns-cert.pem
APNS_KEY=/src/apns-key.pem
APNS_CACHE_LENGTH=100

WNS_TOAST_ENABLED=no
WNS_TOAST_CLIENT_ID=ms-app://SID-from-developer-console
WNS_TOAST_CLIENT_SECRET=client-secret-from-developer-console
WNS_TOAST_LAUNCH_TEMPLATE=/Page.xaml?foo=${data.foo}

GCM_ENABLED=no
GCM_KEY=GCMAPIKEYHERE

HTTP_ENABLED=no

MPNS_TOAST_ENABLED=no
MPNS_TOAST_LAUNCH_TEMPLATE=/Page.xaml?object=${data.object_id}

MPNS_TILE_ENABLED=no

MPNS_RAW_ENABLED=no